.btnRow{
	padding: 30px 0;
}
.reset-wrapper{
	background-image: url("/images/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
}
.reset{
	margin-top: 80px;
	padding: 30px 30px 15px 30px;
	border: 1px solid #fff;
	background: #fff;
}
.reset h4{
	color: #999;
}
.logoWrapper{		
	text-align: center;
	padding: 5px;
	height: 70px;
}
.logoWrapper img{
	height: 100%;
}
.resetHeading{
	background: linear-gradient(45deg, #49cdd0, #45e5c3);
    box-shadow: 0 4px 20px 0px rgba(0,0,0,0.14), 0 7px 10px -5px rgba(0,188,212,0.4);    
	color: #fff;
	width: 90%;
	padding: 20px 0 30px 0;
	border-radius: 5px;
}
.resetHeading h3{
	font-size: 24px;
	font-weight: 600;
}
.resetForm{
	margin-top: 15px;
}
.resetForm h4{ 
	font-size: 18px;
	color: #000;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 600;
}
.resetForm h6{ 
	font-size: 14px;
	color: #999;
	text-align: center;
	margin-bottom: 10px;
	font-weight: 500;
}
.resetRow{
	padding: 15px 0;
}
.resetForm .form-control {
	background-color: #fff;
}
.showPass{
	margin-top: -25px;
	margin-right: 10px;
	float: right;
	cursor: pointer;
	padding: 3px;
}
.viewPass1{
	color: #666;
}
.viewPass2{
	color: #5c77ff;
}
.showPass:hover{
	background: #eee;
	border-radius: 5px;
}
.reset-btn{
	padding: 10px 100px;
	border: none;
	background-color: #5c77ff;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
}
.reset-btn:hover{
	border: 1px solid #cc77ff;
}
.msg{
	font-size: 11px;	
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #999;
    text-align: center;
    background-color: #eee;
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
}
.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #eee;
    background-image: none;
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}